<%= stylesheet_link_tag "blogs" %>

<div class="blog-form-wrapper container">
  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <div class="text-center">
    <%= link_to 'Show', @blog %> |
    <%= link_to 'Back', admin_blogs_path %>
  </div>
</div>