<%= stylesheet_link_tag "admin_panel" %>

<section>
  <div class="container mt-5 mb-5">
    <h1>Editing Free Video</h1>

    <%= render 'form', free_video: @free_video %>

    <%= link_to 'Show', @free_video %> |
    <%= link_to 'Back', free_videos_path %>
  </div>
</section>

