<div>
  <ul id="menu-primary" class="menu"><li><a href="<%= workout_sets_path %>">Workouts</a></li>
    <li class="menu-item" ><a href="">Skills &amp; Drills</a></li>
    <li class="menu-item"><a href="">Free register</a></li>
    <li class="menu-item"><a href="">Support project</a></li>
    <li class="menu-item"><a href="">Blog</a></li>
    <li class="menu-item" ><a href="">About</a></li>
  </ul>
</div>