<%= stylesheet_link_tag "home" %>
<div id="firstSlide" class="sliderWrapper" style="background-image: url(<%= asset_path "slide2.jpg" %>);">
  <div class="d-flex home container text-center">
    <div class="slogan align-self-center white">
      <h1 class="display-2 text-center">Workouts & Programs</h1>
      <h1 class="text-center">Workouts, Programs and Technique Guides that just work</h1>
    </div>
  </div>
</div>