<%= stylesheet_link_tag "home" %>
<div id="firstSlide" class="sliderWrapper" style="background-image: url(<%= asset_path "slide3.jpg" %>);">
  <div class="home container pt-5">
    <div class="p-5 white">
      <h1 class="display-3 text-center">Workouts & Programs</h1>
      <h1 class="text-center">Workouts, Programs and Technique Guides that just work</h1>
    </div>
  </div>
</div>