<section class="mt-5 mb-5 pt-1 pr-5 pl-5 pb-5 bg-white" style="min-height: 100vh;">
  <div>
    <div class="header-title text-center">
      <h1>Contact Me</h1>

      <div class="container text-center upper_border underline_border pt-3 pb-3 pl-5 pr-5">
        Please use the form below and I will contact you back as soon as possible
      </div>
    </div>
  </div>
  <div class="container mt-5 ">
    <%= render 'contact_form'%>
  </div>

  <div class="tutorials-wrapper">
    <%= render 'aplication/show_tutorials' %>
  </div>
</section>