<div class="container">
  <div class="header-title">
    <h1>Purchase Details</h1>
    <h2>Please carefullly review purchase details below. If everything looks good click buy button</h2>
  </div>


</div>