<div class="container">
  <div class="header-title">
    <h1>My Videos</h1>
    <h2>You can watch you video sets below:</h2>
  </div>

  <div>
    <video id='video' class='video-js vjs-fluid' controls>
      <source src='<%= rails_blob_path(Medium.find(3).video) %>' type='video/mp4'>
    </video>

    <div class="playlist-container  preview-player-dimensions">
      <ol class="vjs-playlist"></ol>
    </div>
  </div>
</div>

<script>
  var player = videojs('video');

  player.playlist([{
    sources: [{
      src: 'http://media.w3.org/2010/05/sintel/trailer.mp4',
      type: 'video/mp4'
    }],
    poster: 'http://media.w3.org/2010/05/sintel/poster.png'
  }, {
    sources: [{
      src: 'http://media.w3.org/2010/05/bunny/trailer.mp4',
      type: 'video/mp4'
    }],
    poster: 'http://media.w3.org/2010/05/bunny/poster.png'
  }, {
    sources: [{
      src: 'http://vjs.zencdn.net/v/oceans.mp4',
      type: 'video/mp4'
    }],
    poster: 'http://www.videojs.com/img/poster.jpg'
  }, {
    sources: [{
      src: 'http://media.w3.org/2010/05/bunny/movie.mp4',
      type: 'video/mp4'
    }],
    poster: 'http://media.w3.org/2010/05/bunny/poster.png'
  }, {
    sources: [{
      src: 'http://media.w3.org/2010/05/video/movie_300.mp4',
      type: 'video/mp4'
    }],
    poster: 'http://media.w3.org/2010/05/video/poster.png'
  }]);

  // Play through the playlist automatically.
  player.playlist.autoadvance(0);
</script>