<%= stylesheet_link_tag "my_videos" %>

<div class="container">
  <div class="header-title">
    <h1>My Videos</h1>
    <h2>You can watch you video sets below:</h2>
  </div>

  <div class="player-container">
      <video
        id="video"
        class="video-js vjs-fluid"
        controls>
      </video>

      <div class="vjs-playlist">
        <!--
          The contents of this element will be filled based on the
          currently loaded playlist
        -->
      </div>
  </div>
</div>

<script>
  let mediaSets = gon.mediaSets;

  $.each( mediaSets, function( index, value ) {
    let player = videojs(value.id);
    player.playlist([
      {
        name: '<%= Medium.find(3).title %>',
        sources: [
          { src: '<%= rails_blob_path(Medium.find(3).video) %>', type: 'video/mp4' },]
      },
    ]);
  });

  player.playlistUi();
</script>

