<%= javascript_include_tag "my_videos" %>

<div class="container">
  <div class="header-title">
    <h1>My Videos</h1>
    <h2>You can watch you video sets below:</h2>
  </div>

  <div>
    <video
      id="example-player"
      controls
      autoplay
      data-cld-public-id="dog"
      class="cld-video-player cld-video-player-skin-light cld-fluid">
    </video>
  </div>

</div>
