<%= javascript_include_tag "my_videos" %>
<%= stylesheet_link_tag "my_videos" %>

<div>
  <div class="player-container">
    <div class="video-player-div">
      <div class="container">
        <video
          id="video"
          class="video-js vjs-fluid"
          controls>
        </video>
      </div>
      </div>
    </div>

    <div class="container">
      <h2 class="pt-3"><%= @workout.title %>:</h2>
      <hr>

      <div class="vjs-playlist">
        <!--
          The contents of this element will be filled based on the
          currently loaded playlist
        -->
      </div>

      <div class="my-video-navigation">
        <%= link_to 'Go Back', my_videos_path %>
      </div>
    </div>

</div>