<%= stylesheet_link_tag "media" %>

<section>
  <div class="container pt-5">
    <h1>Upload Video:</h1>

    <%= render 'form', medium: @medium %>
    <%= link_to 'Back', admin_panel_path %>
  </div>
</section>

