<%= stylesheet_link_tag "about" %>

<section>
  <div class="container mt-5 mb-5">
    <div class="header-title">
      <h1>About</h1>
      <h2>Hi everyone welcome to Aermotion.com</h2>
    </div>
    <div>
      <div class="padding-80 text-center">
        <div class="m-3">
          <%= image_tag 'avatar2.jpg', size: "350" %>
        </div>
      </div>
      <div class="text-body pb-0">
        <p>I’m very excited to share an aerobic gymnastics | calisthenics | fitness guide with all of you!

          This content was created by athletes and coaches for athletes and coaches, professionals and amateurs, for all gymnastics and calisthenics enthusiasts who want to find new ways towards skills and overall fitness wellbeing approach.</p>

        <p>The website will be updated frequently.</p>
        <p>
          Here you can find all kinds of effective drills to polish your progressions, learn to nail that skill you’ve always wanted, and also get quick access to conditioning training sets specifically designed to reach your optimum, balanced body condition level.
        </p>
        <p>
          I was always passionate about being an athlete and when I finished my gymnastics career and started to get more into coaching I never stopped pushing myself. Therefore I stayed in decent shape and started exploring new forms of movement and ways to achieve a certain skill.
        </p>
        <p>
          I have had incredible coaches throughout my life who have taught me a lot.
          But I was also an autodidact all my life. I simply love the feeling when you see progress, become stronger, get better and I am thrilled to be able to share my experience with you!
        </p>
        <p>
          I hope you’ll master all of these skills and progressions, will be able to learn and to teach the next generation of movers!
        </p>
      </div>

      <div class="text-center">
        <%= image_tag 'logo_new.jpg', size: "250" %>

        <div class="user-icon">
          <b class="h3">AERMOTION</b>
        </div>
        <div>
          <b class="h1">MIKHAIL NAZARYEV</b>
        </div>
        <div class="">
          <b class="h1">ENJOY  STAY TUNED  BEST VIBES</b>
        </div>
      </div>
    </div>
  </div>
</section>