body {
  background-color: white;
  padding-top: 75px;
  margin-top: 0;
}

section {
  min-height: 100vh;
}

.text-body {
  color: #3c484e;
  font-weight: 400;
  font-size: 27.5px;
  padding: 70px;
  letter-spacing: 0;
  padding-top: 0;
}

.padding-80 {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}