// Place all the styles related to the AdminPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin-row {
  border-bottom: solid 1px black;
  border-top: solid 1px black;
}

.admin-head {
  border-top: solid 3px black;
}

.container {
  font-family: tahoma, verdana, arial !important;
}