// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  min-height: 800px;
}

.sliderWrapper {
  background-position: center center;
  transition: background-image 0.3s ease-in-out;
  height: 100%;
  display: block;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-size: cover;
  z-index: -1;
}

.slogan {
  margin: auto;
}

.slogan-text {
  font-weight: 800;
  text-transform: uppercase;
  background-color: #333333;
  display:inline-block;
}

.slogan-wrapper {
  margin-top: -13%;
}

b {
  color: #4bb4e7;
}
