// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: white;
  padding-top: 75px;
  margin-top: 0;
}

section {
  min-height: 100vh;
}