<div class="container">
  <div class="header-title">
    <h1>Support Project</h1>
    <h2>Aermotion members get exclusive access to our entire skils
      library proven technique guideas and fresh workouts</h2>
  </div>

  <div class="text-center">
    <%= image_tag "hand.png", size: "116", class: "m-3" %>
    <%= image_tag "heart.png", size: "116", class: "m-3"  %>
    <%= image_tag "gymnastic.png", size: "116", class: "m-3"  %>
  </div>


  <div class="body-text">
    <h4 class="text-center p-3">
      This website is for everyone, you can definitely contribute in the development of the project, this is
      going to help to release more teaching videos as well as training programs.
      Every effort will be greatly appreciated.
    </h4>
    <h2 class="text-center p-3"><strong>ALL FUNDS WILL BE SPEND FOR THE WEBSITE CONTENT GROWTH AND LOCAL KIDS TEAM NEEDS</strong></h2>
  </div>
</div>